VC_BOT_TOKEN=

VC_DATABASE_URL=
VC_SQLITE_PATH=./data/vc_funnel.db

VC_SALES_CHAT_ID=1238046892,7364640378,278533547
VC_ADMIN_IDS=1238046892,7364640378,278533547
VC_BOT_USERNAME=
VC_SET_BOT_COMMANDS_ON_START=false
VC_PRIVATE_CHANNEL_INVITE_URL=https://t.me/+0AS_LwzxV9xhNGEy
VC_PRIVATE_CHANNEL_CHAT_ID=-1002294871395
VC_PLAYBOOK_SUBSCRIPTION_REQUIRED=true

VC_MATERIALS_TITLE=Материалы к ролику Андрея
VC_MATERIALS_URL=
VC_YOUTUBE_MATERIALS_URL=
VC_TELEGRAM_MATERIALS_URL=

VC_DEFAULT_TIMEZONE=Europe/Moscow
VC_ENABLE_TEXT_TRIGGERS=true
VC_ENABLE_FOLLOWUPS=false
VC_FUNNEL_END_MODE=webinar
VC_WEBINAR_ENABLED=true
VC_WEBINAR_EVENT_ID=E02
VC_WEBINAR_TITLE=Где находить новых клиентов на РКО
VC_WEBINAR_START_AT=2026-08-14T19:00:00+03:00
VC_WEBINAR_END_AT=2026-08-14T20:00:00+03:00
VC_WEBINAR_TIMEZONE=Europe/Moscow
VC_WEBINAR_JOIN_URL=https://stream.wb.ru/room/viberko
VC_WEBINAR_REPLAY_URL=
VC_CLEANUP_OLD_BOT_MESSAGES=true
VC_KEEP_LAST_BOT_MESSAGES=1
VC_UX_TYPING_DELAY_ENABLED=true
VC_UX_TYPING_DELAY_SECONDS=0.8
VC_UX_TYPING_DELAY_TEST_MODE=false
VC_ENABLE_TYPEWRITER=false

VC_DEBUG=false
